@import "../../@theme/variables/color";
@import "../../@theme/variables/calculate_vw";
:host {
  font-size: 18px;
  @media (min-width: 1920px) {
    font-size: elemVwSize(18, 1920);
  }
}
.modal-button {
  margin: 0 0 0 auto;
  display: flex;
  line-height: normal;
  background: $additional-color;
  font-size: 18px;
  padding: 5px 10px;
  transition: all 0.3s linear;
  @media (min-width: 1920px) {
    font-size: elemVwSize(18, 1920);
    padding: elemVwSize(5, 1920) elemVwSize(10, 1920);
  }
}
