@import "../../@theme/variables/color";
@import "../../@theme/variables/calculate_vw";
.logo {
  color: $primary-text-color;
  text-decoration: none;
  font-size: 48px;
  display: flex;
  align-items: center;
  span {
    color: $secondary-text-color;
    background: $additional-color;
    padding: elemVwSize(5, 1920) elemVwSize(15, 1920);
    border-radius: 6px;
    margin-left: 15px;
  }
}

@media (min-width: 1920px) {
  .logo {
    font-size: elemVwSize(48, 1920);
    span {
      border-radius: elemVwSize(6, 1920);
      margin-left: elemVwSize(15, 1920);
    }
  }
}
