<form class="auth-form" [formGroup]="authForm">
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Type here..." formControlName="username">
    <mat-error *ngIf="isControlInvalid('username')">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Type here..." type="password" formControlName="password">
    <mat-error *ngIf="isControlInvalid('password')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button mat-button class="form-button" (click)="signIn()" [disabled]="this.authForm.invalid">Sign In</button>
</form>
