@import "../../../@theme/variables/calculate_vw";
@import "../../../@theme/variables/color";
:host {
  display: flex;
  justify-content: center;
}
.auth-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 50px auto 0;
  width: 100%;
  @media (min-width: 1920px) {
    margin: elemVwSize(50, 1920) auto 0;
    max-width: elemVwSize(500, 1920);
  }

  .form-button {
    margin: 0 0 0 auto;
    background: $additional-color;
    font-size: 24px;
    padding: 10px 16px;
    line-height: normal;
    transition: all 0.3s linear;
    &[disabled] {
      background: rgba($additional-color, 0.5);
      cursor: not-allowed;
    }
    &:hover {
      background: darken($additional-color, 10%);
    }
    @media (min-width: 1920px) {
      font-size: elemVwSize(24, 1920);
      padding: elemVwSize(10, 1920) elemVwSize(16, 1920);
    }
  }
}
