@function elemVwSize ($size, $viewport-width) {
  $vw_size: ($size * 100) / $viewport-width;
  @return $vw_size * 1vw;
}

@mixin media-font-size($size, $viewport-width) {
  font-size: elemVwSize($size, $viewport-width);
}
