@import "../auth-dialog/auth-dialog.component";
@import "../../@theme/variables/calculate_vw";
.modal-button {
  margin-top: 15px;
  @media (min-width: 1920px) {
    margin-top: elemVwSize(15, 1920);
  }
}
