<form class="upload-form" [formGroup]="uploadForm">

  <mat-file-upload [showUploadButton]="false" [allowMultipleFiles]="false"
                   [labelText]="''" class="file-upload" (selectedFilesChanged)="uploadFileChange($event)">
  </mat-file-upload>

  <mat-form-field>
    <mat-label>Input tag for image</mat-label>
    <input matInput placeholder="Type here..." formControlName="tag">
  </mat-form-field>
</form>

<div class="btns-group">
  <button mat-button class="modal-button" (click)="dialog.closeAll()">Close</button>
  <button mat-button class="modal-button" (click)="uploadFile()">Upload</button>
</div>
