@import "../auth-dialog/auth-dialog.component";
@import "../../@theme/variables/calculate_vw";
@import "../../@theme/variables/color";

.upload-form {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  @media (min-width: 1920px) {
    min-width: elemVwSize(500, 1920);
  }
  @media (max-width: 600px) {
    min-width: 0;
    width: 100%;
  }
}

.btns-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    margin-left: 20px;
    @media (min-width: 1920px) {
      margin-left: elemVwSize(20, 1920);
    }
  }
}

.file-upload {
  margin-bottom: 20px;
  color: $primary-text-color;

  ::ng-deep {
    .file-input-text {
      &:nth-child(1) {
        display: none;
      }
    }

    .file-input-button {
      background: $additional-color;
      color: $primary-text-color;
    }
  }
}
