<div class="header-wrapper" [ngClass]="{'logged': isLogged}">
  <app-logo class="logo"></app-logo>

  <nav class="nav-group" *ngIf="isLogged">
    <a routerLink="/home/search" routerLinkActive="active" class="header-btn">Search</a>
    <a routerLink="/home/my-collection" routerLinkActive="active" class="header-btn">My Collection</a>
    <button class="header-btn" (click)="uploadFiles()">Upload</button>
  </nav>
  <a *ngIf="isLogged" routerLink="/login" class="logout">Log Out</a>
</div>
