@import "../../@theme/variables/calculate_vw";
@import "../../@theme/variables/color";
.header-wrapper {
  justify-content: center;
  display: flex;
  padding: 10px 0;
  align-items: center;
  border-bottom: 1px solid rgba(#fff, 0.1);
  flex-wrap: wrap;
  @media (min-width: 1920px) {
    padding: elemVwSize(10, 1920) 0;
  }
  @media (max-width: 992px) {
    justify-content: space-between;
  }

  &.logged {
    justify-content: space-between;
  }
}

.logo {
  order: 1;
}

.nav-group {
  order: 2;
  justify-content: center;
  display: flex;
  @media (max-width: 992px) {
    order: 3;
    width: 100%;
  }
}

.header-btn {
  padding: 15px 50px;
  color: #fff;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  background: transparent;
  cursor: pointer;
  text-align: center;
  &:hover {
    background: #191919;
    border-color: #252525;
  }
  &.active {
    border-bottom: 1px solid $additional-color;
  }
  @media (min-width: 1920px) {
    padding: elemVwSize(15, 1920) elemVwSize(50, 1920);
  }
  @media (max-width: 992px) {
    padding: 10px 0;
    flex: 1;
  }
}

.logout {
  color: #fff;
  border: 1px solid #252525;
  text-decoration: none;
  padding: 15px 50px;
  background: #252525;
  transition: all 0.3s linear;
  order: 3;
  &:hover {
    border-color: #fff;
  }
  @media (min-width: 1920px) {
    padding: elemVwSize(15, 1920) elemVwSize(50, 1920);
  }
  @media (max-width: 992px) {
    order: 2;
  }
}
