@import "../../../../@theme/variables/color";
@import "../../../../@theme/variables/calculate_vw";
:host {
  display: flex;
  overflow: hidden;
}
.result-list {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.masonry-item {
  width: 18%;
  margin-bottom: 20px;
  @media (min-width: 1920px) {
    margin-bottom: elemVwSize(20, 1920);
  }
  @media (max-width: 992px) {
    width: 29%;
  }
  @media (max-width: 600px) {
    width: 46%;
  }
  img {
    display: block;
    max-width: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
  }
  .collection-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba($secondary-text-color, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: all 0.3s linear;
    opacity: 0;
    visibility: hidden;
  }
  .collection-btn {
    border-radius: 50%;
    background: $additional-color;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    position: relative;
    cursor: pointer;
    svg {
      width: 100%;
      height: 100%;
    }
    @media (min-width: 1920px) {
      width: elemVwSize(30, 1902);
      height: elemVwSize(30, 1902);
      margin: 0 elemVwSize(5, 1920);
    }
    span {
      width: 2px;
      height: 60%;
      position: absolute;
      left: 50%;
      top: 50%;
      background: $primary-text-color;
      transition: all 0.3s linear;
      &:nth-child(1) {
        transform: translate(-50%, -50%);
      }
      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(90deg);
      }
      @media (min-width: 1920px) {
        width: elemVwSize(2, 1902);
      }
    }
  }
  &.in-collection {
    .collection-btn {
      &_change {
        background: $warning-color;
        span {
          &:nth-child(1) {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
          &:nth-child(2) {
            transform: translate(-50%, -50%) rotate(45deg);
          }
        }
      }
    }
  }
  &:hover {
    .collection-overlay {
      opacity: 1;
      visibility: visible;
    }
  }

}
