@import "../../../@theme/variables/color";
@import "../../../@theme/variables/calculate_vw";
:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}
.search-section {
  padding-top: 27vh;
  transition: all 0.3s linear;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  form {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    @media (min-width: 1920px) {
      font-size: elemVwSize(24, 1920);
    }
  }
  .mat-form-field {
    width: 100%;
  }
  .form-button {
    color: #000;
    background: $additional-color;
    padding: 10px 50px;
    cursor: pointer;
    transition: all 0.3s linear;
    margin-left: 20px;
    font-size: 24px;
    &:hover {
      background: darken($additional-color, 10%);
    }
    @media (min-width: 1920px) {
      font-size: elemVwSize(24, 1920);
      padding: elemVwSize(10, 1920) elemVwSize(50, 1920);
      margin-left: elemVwSize(20, 1920);
    }
  }

  ::ng-deep {
    .mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
    .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
      background-color: #fff;
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
      background: #fff
    }
  }

  &.has-item {
    padding-top: 1vh;
    height: calc(100% - 1vh);
  }
}
