<div class="search-section" [ngClass]="{'has-item': searchResult && searchResult.data.length > 0}">
  <form [formGroup]="searchForm">
    <mat-form-field>
      <mat-label>Find GIPHY</mat-label>
      <input matInput type="text" placeholder="Type here..." formControlName="search_parameter">
    </mat-form-field>
    <button mat-button type="submit" class="form-button" (click)="search()" [disabled]="this.searchForm.invalid">Search</button>
  </form>

  <app-search-result *ngIf="searchResult" [_searchData]="searchResult" (infiniteScroll)="appendItems()"></app-search-result>

</div>
