
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$test-app-primary: mat-palette($mat-indigo);
$test-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$test-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$test-app-theme: mat-light-theme($test-app-primary, $test-app-accent, $test-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($test-app-theme);

/* You can add global styles to this file, and also import other style files */
@import "../node_modules/normalize.css/normalize.css";
@import "app/@theme/variables/calculate_vw";
@import "app/@theme/material-custom-theme";

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  background: #282828;
  @media (min-width: 1920px) {
    @include media-font-size(16, 1920);
  }
}

.content {
  width: 75vw;
  margin: 0 auto;
  height: 100%;
  @media (max-width: 1279px) {
    width: 100%;
    padding: 0 15px;
  }
}

* {
  box-sizing: border-box;
}

.black-bg {
  .mat-dialog-container {
    background: #282828;
    border: 1px solid #fff;
  }
  @media (max-width: 600px) {
    width: 100%;
  }
}
