@import "../../@theme/variables/color";
@import "../../@theme/variables/calculate_vw";
:host {
  display: flex;
  flex: 1;
}
.quote-item {
  color: $primary-text-color;
  max-width: 500px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Shadows Into Light', cursive;
  font-size: 28px;
  @media (min-width: 1920px) {
    max-width: elemVwSize(500, 1920);
    font-size: elemVwSize(28, 1920);
  }

  &__author {
    text-align: right;
  }
}
