@import "variables/color";
.mat-form-field-appearance-outline {
  .mat-form-field-outline-thick {
    color: $primary-text-color !important;
    opacity: 1 !important;
    transition: all 0.3s linear;
  }
  &.mat-focused {
    .mat-form-field-outline-thick {
      color: $additional-color !important;
    }
  }
}
.mat-form-field-label {
  color: #fff !important;
}
.mat-form-field {
  &.mat-focused {
    .mat-form-field-label {
      color: #f7971d !important;
    }
  }
  &.ng-invalid.ng-touched {
    .mat-form-field-outline-thick {
      color: $warning-color !important;
    }
  }
}
.mat-input-element {
  color: $primary-text-color !important;
  &::placeholder {
    color: rgba($primary-text-color, 0.7);
  }
}
